body {
    background-color: #FFFFFF;
    color: #373737;
    text-align: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
    margin-top: 70px;
}
.wrapper {
    position: absolute;
    display: grid;
    margin-top: 0px;
    width: 100%;

    background-color: black;
}
.wrapper > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}

.wrapper > ul > li {
    float: left;
}
.wrapper {
    display: grid;
    grid-gap: .1em;
    grid-template-areas:
    "header"
    "navLeft"
    "navRight"
  }

  @media only screen and (min-width: 650px)  {
  	.wrapper {
        grid-template-columns: auto
                            auto auto;
        grid-template-areas:
                "header"
        "navLeft"   "navRight"
	}
}

.navLeft {
    grid-area: navLeft;
}

.header {
    grid-area: header;
}

.navRight {
    grid-area: navCenter;
}
ul:before{
    content:attr(data-header);
    font-weight: bold;
}
div.profile_photo_holder {
    position: center;
}
img {
    margin: 0px 75px 0px 75px;
    height: 250px;
    border: 2px;
    border-color: black;
    border-radius: 2%;
}
div.left-column {
    position: top, left;
    width: 500px;
}
div.profile-links {
    text-align: center;
}

div.left-column h1 {
    text-align: center;
}
div.left-column h2 {
    text-align: center;
}

div.right-column {
    background-color: red;
    width: 500px;
    position: top,right;
}

h4 {
text-align: left;
}
article {
    background-color: gray;
   
}

