body {
    background-color: #FFFFFF;
   /* color: #373737; */
    text-align: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
    margin: 75px 50px 50px 50px;
}
/* Apply to elements that serve as anchors */
.offset-anchor {
  border-top: 75px solid transparent;
  margin: -75px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/*Because offset-anchor causes sections to overlap the bottom of previous ones,
we need to put content higher so links aren't blocked by the transparent border.*/
.container {
  position: relative;
  z-index: 1;
}
.profile_photo {
    margin: 0px 75px 0px 75px;
    height: 250px;
    border: 2px;
    border-color: black;
    border-radius: 2%;
    filter: grayscale(100%);
}
.project-image-resize {
    cursor: pointer;
    transition: 0.3s;
    width: 250px;
    height: 250px;

}
.project-image-resize:hover {
    opacity: 0.7;
}

.pitch {
    margin: auto;
    background-color: gray;
    width: 60%;
    position: centered;
    padding: 1em;
}
ul:before{
    content:attr(data-header);
    font-weight: bold;
}
.projects {
    max-width: 80%;
}
div ul {
    list-style-type: none;
}

.list-unstyled li {
    padding: 1em;
}
.list-unstyled li:nth-child(even) {
    background-color: gray;
}
.page-link{
    position:absolute;
    top:-200px;
}
/*.wrapper {
    position: relative;
    display: grid;
    margin-top: 0px;
    width: 100%;

   */
   /*
}
.wrapper > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}

.wrapper > ul > li {
    float: left;
}
.wrapper {
    display: grid;
    grid-gap: .1em;
    grid-template-areas:
    "header"
    "navLeft"
    "navRight"
  }*/

  @media only screen and (max-width: 650px)  {
    .project-image-resize{
        display: none;
    }
  	.wrapper {
        grid-template-columns: auto
                            auto auto;
        grid-template-areas:
                "header"
        "navLeft"   "navRight"
	}
}

.header {
    grid-area: header;
}

.navRight {
    grid-area: navCenter;
}

.profile_photo_holder {
    position: center;
}

.profile-links {
    text-align: center;
}

